/** @format */
$DM: 'DM Serif Text';
$jost: 'Jost', sans-serif;
$grotesk: 'Space Grotesk', sans-serif;
$chivo: 'Chivo', sans-serif;

$rounded: 0.5rem;
$blur: 24px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$margin-from-navbar: 3rem;

$color-background: #020213;
$color-text: #d2d1fa;
$color-primary: #9a3cec;
$color-secondary: #1e1525;
$color-secondary-2: #170425;
$color-accent: #b011ab;

$bg-layer-0: #020213;
$bg-layer-1: #161628;
$bg-layer-2: #232332;
$bg-layer-3: rgba(57, 57, 75, 0.7);

$shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$backdrop: blur(24px);
* {
  font-family: $grotesk;
  // font-family: $chivo;
}
*:hover {
  cursor: default;
}
svg:hover {
  cursor: pointer;
}
@mixin flex-col-center($gap: 1rem) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}
@mixin shadow {
  -webkit-box-shadow: 0 3px 13px 7px $color-text; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 3px 13px 7px $color-text; /* 0 3px 13px 7px $color-text;*/
  box-shadow: 0 5px 13px 10px rgb(210 209 250 / 0.1);
}
@mixin font-size($size: 1rem) {
  font-size: $size;
  line-height: calc($size);
}
@mixin title {
  // padding: 0.8rem 0 0.8rem 0;
  padding: 0.8rem 0 0.2rem 0;
  font-weight: bold;
  @include font-size(1.5rem);
  @media (min-width: $md) {
    @include font-size(3rem);
  }
}
.navbar {
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  width: 100vw;
  backdrop-filter: blur(24px);
  filter: brightness(1.3);
  span {
    cursor: pointer;
    font-size: xx-large;
    font-family: $DM;
    color: white;
  }
  li:hover {
    background-color: rgba(35, 35, 35, 0.7);
    transition: all 100ms ease-in-out;
  }
  .user-span {
    cursor: pointer;
    // font-size: xx-large;
    font-family: $DM;
    color: white;
  }
}
.page {
  @include flex-col-center(2rem);
  margin-top: $margin-from-navbar;
  width: 90vw;
  // min-height: 100vh;
  min-height: 70vh;
}

.title {
  @include title;
}

.imgloop {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 15rem;
  @media (min-width: $md) {
    min-height: 30rem;
  }
  .imgloop_title {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.5rem;
    z-index: 20;
    backdrop-filter: $backdrop;
    background-color: rgba(0, 0, 0, 0.4);
    filter: brightness(1.3);
    @media (min-width: $md) {
      left: 1rem;
      top: 0;
    }
    .title {
      font-size: 3.75rem;
      line-height: 1;
      text-align: center;
      // font-weight: 400;
      font-display: swap;
      @media (max-width: 680px) {
        font-size: 2rem;
      }
      span {
        font-family: $DM;
        font-weight: 500;
        background: linear-gradient(
          343deg,
          rgba(154, 60, 236, 1) 0%,
          rgba(176, 17, 171, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .subtitle {
      line-height: 1rem;
      text-align: center;
    }
  }
  .imgloop_loop {
    position: absolute;
    display: flex;
    min-width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    animation: 3s linear infinite slidetoright;
    img {
      height: 100%;
      min-width: 30rem;
      display: inline-block;
      object-fit: cover;
      z-index: 10;
      margin: 0;
      padding: 0;
    }
  }
}
@keyframes slidetoright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-480px);
  }
}

.presentation {
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: $rounded;
  background-color: $color-secondary;
  .body {
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
    min-height: min-content;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 0.8rem;
    div {
      width: 95%;
      min-height: min-conent;
      display: flex;
      flex-direction: column;
      svg {
        margin-left: auto;
        margin-right: auto;
        width: 2.5rem;
        height: 2.5rem;
      }
      p {
        text-align: center;
        margin-top: 0.5rem;
        line-height: 1.1rem;
        max-height: fit-content;
      }
    }
  }
}

.upcoming {
  min-height: fit-content;
  .body {
    position: relative;
    width: 100vw;
    min-height: fit;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    overflow-y: hidden;
  }
}
.card {
  position: relative;
  @include flex-col-center(0.4rem);
  justify-content: flex-end;
  align-items: center;
  // min-width: 70vw;
  // height: 35vh;
  min-width: 70%;
  height: 30vh;
  overflow: hidden;
  border-radius: $rounded;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 150ms ease-out;

  &:hover {
    transform: scale(1.02);
    cursor: default;
  }
  .card-describe {
    z-index: 10;
    backdrop-filter: blur($blur);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: $rounded;
    padding: 0.5rem;
    transition: all 100ms ease-out;
    &:hover {
      backdrop-filter: blur($blur);
      color: green;
      transform: scale(1.05);
      cursor: default;
    }
    .card_title {
      line-height: 1.5rem;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .card_date {
      line-height: 1rem;
      text-align: center;
      font-weight: 500;
    }
  }
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.eventsofdate {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.upcoming-dates-body {
  position: relative;
  width: 100vw;
  padding: 0 1rem 0 1rem;
  // display: flex;
  // flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-y: hidden;
}
.upcoming-dates-date {
  background-color: $color-secondary;
  @include flex-col-center(0.3rem);
  border-radius: $rounded;
  height: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  span {
    line-height: 1rem;
  }
}
.eventcardmd {
  position: relative;
  width: 90vw;
  margin: 0.5rem auto 0.5rem auto;
  // height: 30vh;
  height: 24vh;
  border: solid 0.5px $bg-layer-3;
  border-radius: $rounded;
  overflow: hidden;
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .eventcardmd-details {
    // padding: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(154, 60, 236, 0) 0%,
      $color-secondary-2 50%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    .eventcardmd-details-title {
      font-size: x-large;
      line-height: 1.75rem;
    }
    .eventcardmd-details-date {
      // line-height: 1.2rem;
      line-height: 1.5rem;
      color: yellow;
    }
    .eventcardmd-details-place {
      line-height: 1.2rem;
    }
    .eventcardmd-tags {
      margin: 0.5rem 0 0 0;
      width: 100vw;
      display: flex;
      gap: 0.2rem;
    }
  }
}

.event-card-tag {
  border-radius: 5px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  background-color: $color-background;
}

.eventcardxs {
  position: relative;
  // height: 30vh;
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .eventcardmd-details {
    // padding: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(154, 60, 236, 0) 0%,
      $color-secondary-2 70%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    .eventcardmd-details-title {
      font-size: x-large;
      line-height: 1.75rem;
    }
  }
}

.footer-title {
  position: relative;
  width: fit-content;
  font-weight: 600;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: $color-secondary;
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(
      circle at 9px 2px,
      rgba(0, 0, 0, 0) 6px,
      $color-secondary 7px
    );
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(
      circle at 1px 3px,
      rgba(0, 0, 0, 0) 6px,
      $color-secondary 0px
    );
  }
}
.footer-title-container {
  background-color: $color-background;
}
.footer {
  background-color: $color-secondary;

  max-width: 100vw;
  min-height: fit-content;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0 0 1rem 0;
  .footer-item {
    min-width: 100vw;
    min-height: fit-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }
  .footer-social {
    padding: 1rem 0 1rem 0;
    width: 90vw;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border-top: solid 0.5px black;
    border-bottom: solid 0.5px black;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.winkicon {
  fill: yellow;
}
.coffeeicon {
  fill: brown;
}
.busicon {
  fill: green;
}
.hearticon {
  fill: red;
}

.shadowPage {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
}

.pagename {
  width: 100%;
  // height: 80px;
  margin: 16px 0 0 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border-radius: $rounded;
  filter: contrast(150%) brightness(250%);
  p {
    font-size: x-large;
    font-weight: bold;
  }
}

.nicebutton {
  padding: 2rem;
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  font-weight: normal;
  border-radius: $rounded;
  filter: contrast(150%) brightness(200%);
  &:hover {
    cursor: pointer;
  }
  transition: all 150ms ease-out;
  background: linear-gradient(
      35deg,
      rgba(54, 65, 159, 0.7),
      rgba(91, 3, 135, 0.9)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 234 234' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.83' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  &:active {
    transform: scale(1.03);
  }
  &:hover {
    transform: scale(1.03);
  }
}

.smallnicebutton {
  padding: 2rem;
  // width: 75%;
  margin: auto;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  font-weight: normal;
  border-radius: $rounded;
  filter: contrast(150%) brightness(200%);
  &:hover {
    cursor: pointer;
  }
  transition: all 150ms ease-out;
  background: linear-gradient(
      35deg,
      rgba(54, 65, 159, 0.7),
      rgba(91, 3, 135, 0.9)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 234 234' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.83' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  &:active {
    transform: scale(1.03);
  }
  &:hover {
    transform: scale(1.03);
  }
}

.block {
  width: 100%;
  font-family: $chivo;
  min-height: fit-content;
  padding: 0 0.5rem 1rem 0.5rem;
  // border: solid 0.5px $bg-layer-3;
  // background-color: $bg-layer-1;
  border-radius: $rounded;
  p {
    line-height: 1.3rem;
    padding-left: 0.4rem;
  }
  .title {
    // @include title;
    padding-left: 0.2rem;
    padding-top: 0.8rem;
  }
  form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    // margin-left: 1rem;
    background-color: inherit;
    border: solid 0.5px $bg-layer-3;
    border-radius: $rounded;
    cursor: pointer;
  }
  .input-file {
    width: 100%;
    height: 30%;
  }
  textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: inherit;
    border: solid 0.5px $bg-layer-3;
    border-radius: $rounded;
    cursor: auto;
  }
}
.section {
  min-width: 100%;
}

.radio {
  background-color: red;
}

.barcard {
  position: relative;
  width: 100%;
  max-height: fit-content;
  margin: 0.4rem auto 0.4rem auto;
  border: solid 0.5px $bg-layer-3;
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
  border-radius: $rounded;
  overflow: hidden;
  font-size: small;
  .barcard-info {
    position: relative;
    z-index: 10;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      $color-secondary 80%
    );
    .barcard-title {
      font-size: medium;
    }
    p {
      padding-left: unset;
    }
  }
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.datepicker {
  width: 100%;
  padding: 0.4rem;
  background-color: $bg-layer-1;
  border: solid 0.5px $bg-layer-3;
  border-radius: $rounded;
  font-size: large;
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);

  .datepicker-header {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .datepicker-body {
    width: 100%;
    .datepicker-body-days {
      padding: 1rem 0 1rem 0;
      display: grid;
      grid-template-columns: auto repeat(6, auto);
      justify-content: space-around;
      place-items: center;
      border-top: solid 0.5px $bg-layer-3;
      border-bottom: solid 0.5px $bg-layer-3;
      span {
        min-height: 1.5rem;
        min-width: 2.5rem;
        max-width: 3.2rem;
        padding: 0.2rem;
        border: solid 0.5px rgba(42, 42, 42, 0.7);
        background-color: $bg-layer-2;
        text-align: center;
        border-radius: $rounded;
        font-size: medium;
      }
    }
    .datepicker-body-dates {
      padding: 0.5rem 0 0.5rem 0;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(6, auto);
      grid-template-columns: auto repeat(6, auto);
      align-items: stretch;
      place-items: center;
      row-gap: 0.5rem;
      span {
        height: 3.2rem;
        min-width: 2.5rem;
        max-width: 3.2rem;
        padding: 0.2rem;
        border: solid 0.5px rgba(42, 42, 42, 0.7);
        text-align: center;
        border-radius: $rounded;
        background-color: $bg-layer-2;
        transition: all linear 200ms;
        user-select: none;
        &:hover {
          background-color: $bg-layer-3;
          border: solid 0.5px rgba(42, 42, 42, 1);
          cursor: pointer;
        }
        &:active {
          background-color: rgba(40, 40, 40, 1);
          border: solid 0.5px rgba(42, 42, 42, 1);
          cursor: pointer;
        }
      }
      .start0 {
        grid-column-start: 0;
      }
      .start1 {
        grid-column-start: 1;
      }
      .start2 {
        grid-column-start: 2;
      }
      .start3 {
        grid-column-start: 3;
      }
      .start4 {
        grid-column-start: 4;
      }
      .start5 {
        grid-column-start: 5;
      }
      .start6 {
        grid-column-start: 6;
      }
      .picked {
        background-color: rgba(80, 80, 80, 1);
        color: yellow;
      }
    }
  }
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.filter-button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem;
  margin: 0.2rem;
  background-color: $bg-layer-1;
  border-radius: $rounded;
  transition: all 100 ease-out;
  cursor: pointer;

  svg {
    display: inline;
    margin: 0 0.4rem 0.2rem 0.2rem;
  }
  &:active {
    background-color: $bg-layer-2;
    transform: scale(1.05);
  }
}
.citypicker {
  position: absolute;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  width: 50%;
  li {
    font-size: large;
    padding: 0.4rem;
    border-radius: $rounded;
    transition: background-color 100ms ease-in-out;
    margin: 1px;
  }
  li:hover {
    background-color: rgba(30, 30, 30, 0.9);
    border: solid 0.5px $bg-layer-3;
    cursor: pointer;
  }
}
.datepickerfilter {
  position: absolute;
  z-index: 50;
  min-width: 85%;
  max-width: 90%;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: solid 0.5px $bg-layer-3;
  border-radius: $rounded;
  .datepickerfilter-header {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .datepickerfilter-body {
    width: 100%;
    .datepickerfilter-body-days {
      padding: 1rem 0 1rem 0;
      display: grid;
      grid-template-columns: auto repeat(6, auto);
      justify-content: space-around;
      place-items: center;
      border-top: solid 0.5px $bg-layer-3;
      border-bottom: solid 0.5px $bg-layer-3;
      span {
        min-height: 1.5rem;
        min-width: 2.5rem;
        max-width: 3.2rem;
        padding: 0.2rem;
        border: solid 0.5px rgba(42, 42, 42, 0.7);
        background-color: $bg-layer-2;
        text-align: center;
        border-radius: $rounded;
        font-size: medium;
      }
    }
    .datepickerfilter-body-dates {
      padding: 0.5rem 0 0.5rem 0;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(6, auto);
      grid-template-columns: auto repeat(6, auto);
      align-items: stretch;
      place-items: center;
      row-gap: 0.5rem;
      span {
        height: 3.2rem;
        min-width: 2.5rem;
        max-width: 3.2rem;
        padding: 0.2rem;
        border: solid 0.5px rgba(42, 42, 42, 0.7);
        text-align: center;
        border-radius: $rounded;
        background-color: $bg-layer-2;
        transition: all linear 200ms;
        user-select: none;
        &:hover {
          background-color: $bg-layer-3;
          border: solid 0.5px rgba(42, 42, 42, 1);
          cursor: pointer;
        }
        &:active {
          background-color: rgba(40, 40, 40, 1);
          border: solid 0.5px rgba(42, 42, 42, 1);
          cursor: pointer;
        }
      }
      .start0 {
        grid-column-start: 0;
      }
      .start1 {
        grid-column-start: 1;
      }
      .start2 {
        grid-column-start: 2;
      }
      .start3 {
        grid-column-start: 3;
      }
      .start4 {
        grid-column-start: 4;
      }
      .start5 {
        grid-column-start: 5;
      }
      .start6 {
        grid-column-start: 6;
      }
      .picked {
        background-color: rgba(80, 80, 80, 1);
        color: yellow;
      }
    }
  }
}

.midcardb {
  position: relative;
  // width: 100%;
  // width: 70%;
  min-width: 22rem;
  max-width: 23rem;
  min-height: 12rem;
  margin: 0.4rem auto 0.4rem auto;
  border: solid 0.5px $bg-layer-3;
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
  border-radius: $rounded;
  overflow: hidden;
  color: white;
  .midcardb-info {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      $color-secondary 80%
    );
    .midcardb-title {
      font-size: large;
    }
    p {
      font-size: small;
      padding-left: unset;
    }
    .midcardb-tags {
      width: 100%;
      font-size: x-small;
      button {
        background-color: black;
        // padding: 7px 6px 6px 6px;
        padding: 6px;
        border-radius: $rounded;
        border: solid 0.5px $bg-layer-3;
      }
    }
    .midcardb-share {
      position: absolute;
      right: 0.8rem;
      top: 1.6rem;
      font-size: small;
      button {
        background-color: black;
        // padding: 7px 6px 6px 6px;
        padding: 6px;
        border-radius: 100%;
        border: solid 0.5px $bg-layer-3;
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

a {
  text: white;
}

.eventbanner {
  position: relative;
  width: 100%;
  height: 25vh;
  margin: 0.4rem auto 0.4rem auto;
  border: solid 0.5px $bg-layer-3;
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
  border-radius: $rounded;
  overflow: hidden;
  font-size: small;
  .eventbanner-info {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      $color-secondary 80%
    );

    p {
      padding-left: unset;
    }
  }
  img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.citySelector {
  margin: 0.5rem;
  padding: 1rem;
  background-color: $bg-layer-2;
  border-radius: $rounded;
}

.cityItem {
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  background-color: blue;
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state='checked'] {
  background-color: red;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

@keyframes opacity-animation-on {
  from {
    transform: translateY(1%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-animation-off {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(1%);
    opacity: 0;
  }
}

.smallTitleBold {
  font-family: 'Chivo', sans-serif;
}

.smallDesc {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}
