/** @format */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #fef286;
$seconday-color: #b3fed1;
$third-color: #a4adfe;
$fourth-color: #fff5fb;
$fifth-color: #dbffc7;

// $color-background: #020213;
$color-background: #020213;
$color-text: #d2d1fa;
$color-primary: #9a3cec;
$color-secondary: #250424;
$color-accent: #b011ab;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: $color-background;
  color: $color-text;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none; // for Internet Explorer, Edge

  scrollbar-width: none; // for Firefox
}

div {
  margin: 0;
  padding: 0;
}

svg {
  fill: $color-text;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  // place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#message{
  text-align: center;
  padding : 1rem;
  color : #64748b;
  font-family: Inter, system-ui, sans-serif !important;
  a {
    cursor : pointer;
  }
}

::-webkit-scrollbar {
  display: none; // for Chrome, Safari and Opera
}
